<html>
	<head>
		<meta charset="utf-8">
		<title>2014 FIFA Worldcup Brazil</title>

		<link rel="stylesheet" href="css/style.css">

		<script src="js/lib/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8" async defer>
			var ctrl = function($scope, $http) {
				$http
				.get("api/teams")
				.success(function(response) {
					$scope.teams = response;
				})
				.error(function() {
					$scope.teams = {};
				});
			}
		</script>
	</head>
	<body ng-app>
		<ul ng-controller="ctrl">
			<input type="text" placeholder="filter" ng-model="teamFilter.name">
			<li ng-repeat="team in teams | filter:teamFilter">
				<img class="small-flag" ng-src="img/flag/{{team.code | lowercase}}.png" alt="{{tea.code}}">
				{{team.name}}
			</li>
		</ul>
	</body>
</html>