<div class="card">
	<div class="card-heading">
		Matches
	</div>
	<div class="card-body" ng-controller="matchesSummaryController">
		<div ng-switch on="matchesSummary.status">
			<div ng-switch-when="error">
				<div ng-include="'template/error.html'"></div>
			</div>
			<div ng-switch-when="success">
				<div ng-init="matchSectionType='results'" ng-controller="doNothing">
					<div ng-include="'template/match-section.html'"></div>
				</div>

				<div ng-init="matchSectionType='upcoming'" ng-controller="doNothing">
					<div ng-include="'template/match-section.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-init="featuredCard='team'" ng-controller="teamsController">
	<div ng-include="'template/featured-card.html'" onload="items=users"></div>
</div>

<div ng-init="featuredCard='player'" ng-controller="playersController">
	<div ng-include="'template/featured-card.html'"></div>
</div>